@charset "UTF-8";

.pick-up {
  margin: auto;
  width: 50px;
  height: 45px;
}

.c-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 24px;
}

.c-title-sub {
  margin-bottom: 16px;
  font-size: 16px;
  color: #fff;
  background-color: #8c97ff;
  padding: 4px;
  border-radius: 9999px;
  width: 64px;
  height: 32px;
  text-align: center;
}

.info {
  margin: 0 auto;
  width: 800px;
  height: 500px;
  border: solid 1px black;
  border-radius: 20PX;
  box-shadow:16px 16px  #ccccff;
}


.c-image {
  margin-top: 28px;
  text-align: center;
}

.c-logo {
  font-size: 18px;
  margin-bottom: 12px;
}

.info-detail {
  padding:0px 28px;
}


.text {
  margin-bottom: 8px;
  font-size: 14px;
}

.list {
  margin-bottom: 24px;
  font-size: 12px;
  background-color: #eee;
  display: inline-block;
}

.price {
  font-size: 16px;
}

.c-price {
  font-size: 12px;
}


a {
  color:#8c97ff ;
}
