@charset "UTF-8";

.l-wrap {
  max-width: 1200px;
  margin: 96px auto 160px;
  padding: 0 20px;
}

.p-catalog {
  padding-top: 64px;
}

.p-catalog__content {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.c-title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.c-heading {
  width: 80px;
  margin-bottom: 16px;
  padding: 3px 0;
  border-radius: 9999px;
  background-color: #8c97ff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.p-catalog__info {
  padding: 28px;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 12px 12px #ccccff;
  background-color: #fff;
}

.c-image {
  text-align: center;
}

.c-image img {
  max-width: 100%;
  height: auto;
}

.p-catalog__detail {
  margin-top: 28px;
}

.c-card-title {
  font-size: 18px;
  font-weight: bold;
}

.c-image--small {
  width: 18px;
  margin-left: 12px;
  vertical-align: middle;
}

.p-catalog__description {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.7;
}

.p-catalog__specs {
  margin-top: 8px;
}

.p-catalog__spec {
  display: inline-block;
  padding: 2px 4px;
  background-color: #eee;
  font-size: 12px;
}

.p-catalog__price {
  margin-top: 24px;
  font-size: 16px;
}

.p-catalog__yen {
  font-size: 16px;
}

.p-catalog__tax {
  font-size: 12px;
}

.p-catalog__tags {
  margin-top: 24px;
}

.p-catalog__tags li + li {
  margin-top: 8px;
}

.c-tag {
  color: #8c97ff;
  font-size: 14px;
  text-decoration: underline;
}

/* ここから下はlesson3で追加したコードです */

.c-heading--new {
  display: inline-block;
  margin-bottom:16px;
  font-size:16px;
  background-color:#7fe6a8;
  color:#fff;
}

.p-product__list{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  row-gap:32px;
}

.p-product__item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 6px 6px 0 #7fe6a8;
  box-sizing: border-box;
  min-width:280px;
}

.p-product__image img{
  width: 100px;
}

.p-product__content {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  gap: 8px;
}

.p-product__title {
  font-size: 12px;
}

.p-product__price {
  font-size: 16px;
  margin: 0;
}

.c-product__yen {
  font-size:14px
}

.c-product__tax {
  font-size: 12px;
  font-weight: normal;
}

.c-button {
  height: 20px;
  border-radius: 9999px;
  font-size: 10px;
  cursor:pointer;
}

.c-button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
  }

