@charset "UTF-8";

.p-catalog {
  padding-top: 64px;
}

.p-catalog__content {
  width: 800px;
  margin: 0 auto;
}

.c-title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.c-heading {
  width: 80px;
  margin-bottom: 16px;
  padding: 3px 0;
  border-radius: 9999px;
  background-color: #8c97ff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.p-catalog__info {
  padding: 28px;
  margin-bottom: 64px;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 12px 12px #ccccff;
  background-color: #fff;
}

.c-image {
  text-align: center;
}

.c-image img {
  max-width: 100%;
  height: auto;
}

.p-catalog__detail {
  margin-top: 28px;
}

.c-card-title {
  font-size: 18px;
  font-weight: bold;
}

.c-image--small {
  width: 18px;
  margin-left: 12px;
  vertical-align: middle;
}

.p-catalog__description {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.7;
}

.p-catalog__specs {
  margin-top: 8px;
}

.p-catalog__spec {
  display: inline-block;
  padding: 2px 4px;
  background-color: #eee;
  font-size: 12px;
}

.p-catalog__price {
  margin-top: 24px;
  font-size: 16px;
}

.p-catalog__yen {
  font-size: 16px;
}

.p-catalog__tax {
  font-size: 12px;
}

.p-catalog__tags {
  margin-top: 24px;
}

.p-catalog__tags li + li {
  margin-top: 8px;
}

.c-tag {
  color: #8c97ff;
  font-size: 14px;
  text-decoration: underline;
}